
<div class="container">

  <h1>Stupid Coaching</h1>

  <p>Ask your coach anything:</p>
  <%# <form action="/answer" method="get">
    <input type="text" name="question">
    <input type="submit" value="Ask">
  </form> %>


<form novalidate="novalidate" class="simple_form search" action="/answer" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="question" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Ask
    </button>
  </div>
</form>

</div>